@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Not Approved";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Your account approval is pending!<br />
        Wait for account approval, We will notify you by email whenever your account gets approved.
    </p>
</header>
