@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Successfully Registered!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Account is successfully registered!<br />
        Wait for account approval, We will notify you by email whenever your account gets approved.
    </p>
</header>
